Paython 1: Basic introduction to Python
--
Reference: dataquest.io

Let's start with basic operations

In [ ]:
1+2

In [ ]:
print(1+2)
print(2*4)

In [ ]:
# comment lines:
# print(1 + 2)
print(5 * 10)
# This program will only print 50

In [ ]:
# Arithmatic operations
print(1 + 2)
print(4 - 5)
print(30 * 1)
print(20 / 3)
print(4**3)
print((4 * 18)**2 / 10)

In [ ]:
# Storing values to variables:

twenty = 20
result = 43 + 2**5
currency = 'USD'

print(twenty,result,currency)

In [ ]:
# updating the value stored in a variable:

x = 30
x += 10 # this is the same as x = x + 10

In [ ]:
# Rounding a number:

round(4.99) # the output will be 5

In [ ]:
# Using quotation marks to create a string:

app_name = "Clash of Clans"
app_rating = '3.5'

In [ ]:
# Concatenating two or more strings:

print('a' + 'b') # prints 'ab'
print('a' + 'b' + 'c') # prints 'abc'

In [ ]:
# Converting between types of variables:

int('4')
str(4)
float('4.3')
str('4.3')

In [ ]:
# Finding the type of a value:

type(4)
type('4')

List and For loop
--

In [ ]:
# Creating a list of data points:

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]

In [ ]:
# Creating a list of lists:

data = [row_1, row_2]

In [ ]:
# Retrieving an element of a list:

first_row = data[0]
first_element_in_first_row = first_row[0]
first_element_in_first_row = data[0][0]
last_element_in_first_row = first_row[-1]
last_element_in_first_row = data[0][-1]

In [ ]:
# Retrieving multiple list elements and creating a new list:

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
rating_data_only = [row_1[3], row_1[4]]

In [ ]:
# Performing list slicing:

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
second_to_fourth_element = row_1[1:4]

In [ ]:
# Opening a data set file and using it to create a list lists:

opened_file = open('../data_collection/barcelona-data-sets/accidents_2017.csv')

from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)

In [ ]:
# Repeating a process using a for loop:

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
for data_point in row_1:
    print(data_point)

In [ ]:
# Using an if statement to control your code:

if True:
    print(1)
if 1 == 1:
    print(2)
    print(3)

In [ ]:
# Combining multiple conditions:

if 3 > 1 and 'data == data':
    print('Both conditions are true!')  
if 10 < 20 or 4 <= 5:
    print('At least one condition is true.')

In [ ]:
# Building more complex if statements:

if (20 > 3 and 2 != 1) or 'Games' == 'Games':
    print('At least one condition is true.')

In [ ]:
# Using the else clause:

if False:
    print(1)
else:
    print('The condition above was false.')

In [ ]:
# Using the elif clause:

if False:
    print(1)
elif 30 > 5:
    print('The condition above was false.')

Concepts
--
We can use an if statement to implement a condition in our code.

An elif clause is executed if the preceding if statement (or the other preceding elif clauses) resolves to False and the condition specified after the elif keyword evaluates to True.

True and False are Boolean values.

and and or are logical operators, and they bridge two or more Booleans together.

We can compare a value A to value B to determine whether:

A is equal to B and vice versa (B is equal to A) — ==.

A is not equal to B and vice versa — !=.

A is greater than B or vice versa — >.

A is greater than or equal to B or vice versa — >=.

A is less than B or vice versa — <.

A is less than or equal to B or vice versa — <=.

In [ ]:
# Creating a dictionary:

# First way
dictionary = {'key_1': 1, 'key_2': 2}

In [ ]:
# Second way
dictionary = {}
dictionary['key_1'] = 1
dictionary['key_2'] = 2

In [ ]:
# Retrieving individual dictionary values:

dictionary = {'key_1': 100, 'key_2': 200}
dictionary['key_1']  # Outputs 100
dictionary['key_2']  # Outputs 200

In [ ]:
# Checking whether a certain value exist in the dictionary as a key:

dictionary = {'key_1': 100, 'key_2': 200}
'key_1' in dictionary  # Outputs True
'key_5' in dictionary  # Outputs False
100 in dictionary  # Outputs False

In [ ]:
# Updating dictionary values:

dictionary = {'key_1': 100, 'key_2': 200}
dictionary['key_1'] += 600  # This will change the value to 700

In [ ]:
# Creating a frequency table for the unique values in a column of a data set:
a_data_set={'a_1',
            'a_2',
            'key_1', 
            'key_2', 
            'key_3',
            'key_4', 
            'key_5', 
            'key_6'}
frequency_table = {}
for row in a_data_set:
    a_data_point = row[0]
    if a_data_point in frequency_table:
        frequency_table[a_data_point] += 1
    else:
        frequency_table[a_data_point] = 1
print(frequency_table)

Concepts
--
The index of a dictionary value is called a key. In '4+': 4433, the dictionary key is '4+', and the dictionary value is 4433. As a whole, '4+': 4433 is a key-value pair.

Dictionary values can be of any data type: strings, integers, floats, Booleans, lists, and even dictionaries. 

Dictionary keys can be of almost any data type we've learned so far, excepting lists and dictionaries. If we use lists or dictionaries as dictionary keys, the computer raises an error.

We can check whether a certain value exist in the dictionary as a key using an the in operator. An in expression always returns a Boolean value.

The number of times a unique value occurs is also called frequency. Tables that map unique values to their frequencies are called frequency tables.

When we iterate over a dictionary with a for loop, the looping is done by default over the dictionary keys.

How to run Python:
    --
    Command Line: script vs interactive
    Jupyter notebook

In [ ]:
#Creating a function with a single parameter:

def square(number):
    return number**2

In [ ]:
# Creating a function with more than one parameter:

def add(x, y):
    return x + y

In [ ]:
# Reusing a function within another function's definition:

def add_to_square(x):
    return square(x) + 1000  # we defined square() above

Concepts
--
Generally, a function displays this pattern:
    
It takes in an input.

It does something to that input.

It gives back an output.

In Python, we have built-in functions (like sum(), max(), min(), len(), print(), etc.) and functions that we can create ourselves.

Structurally, a function is composed of a header (which contains the def statement), a body, and a return statement.

Input variables are called parameters, and the various values that parameters take are called arguments. In def square(number), the number variable is a parameter. In square(number=6), the value 6 is an argument that is passed to the parameter number.

Arguments that are passed by name are called keyword arguments (the parameters give the name). When we use multiple keyword arguments, the order we use doesn't make any practical difference.

Arguments that are passed by position are called positional arguments. When we use multiple positional arguments, the order we use matters.

Debugging more complex functions can be a bit more challenging, but we can find the bugs by reading the traceback.

In [ ]:
# Initiating parameters with default arguments:

def add_value(x, constant=3.14):
    return x + constant

In [ ]:
#Using multiple return statements:

def sum_or_difference(a, b, do_sum):
    if do_sum:
        return a + b
    return a - b

In [ ]:
# Returning multiple variables:

def sum_and_difference(a, b):
    a_sum = a + b
    difference = a - b
    return a_sum, difference
sum_1, diff_1 = sum_and_difference(15, 10)

Concepts
--
We need to avoid using the name of a built-in function to name a function or a variable because this overwrites the built-in function.

Each built-in function is well documented in the official Python documentation.

Parameters and return statements are not mandatory when we create a function.

In [ ]:
def print_constant():
    x = 3.14
    print(x)

The code inside a function definition is executed only when the function is called.

When a function is called, the variables defined inside the function definition are saved into a temporary memory that is erased immediately after the function finishes running. The temporary memory associated with a function is isolated from the memory associated with the main program (the main program is the part of the program outside function definitions).

The part of a program where a variable can be accessed is often called scope. The variables defined in the main program are said to be in the global scope, while the variables defined inside a function are in the local scope.

Python searches the global scope if a variable is not available in the local scope, but the reverse doesn't apply — Python won't search the local scope if it doesn't find a variable in the global scope. Even if it searched the local scope, the memory associated with a function is temporary, so the search would be pointless.



STRING FORMATTING AND FORMAT SPECIFICATIONS
--
 Developed by Roger Wang (rq.wang@rutgers.edu) <br>
 Reference: dataquest.io

In [ ]:
# Replace a substring within a string:

green_ball = "red ball".replace("red", "green")
print(green_ball)

In [ ]:
# Remove a substring:

friend_removed = "hello there friend!".replace(" friend", "")
print(friend_removed)

In [ ]:
# Remove a series of characters from a string:

bad_chars = ["'", ",", ".", "!"]
string = "We'll remove apostrophes, commas, periods, and exclamation marks!"
for char in bad_chars:
    string = string.replace(char, "")
print(string)

In [ ]:
# Convert a string to title cases

Hello = "hello".title()
print(Hello)

In [ ]:
#Check a string for the existence of a substring:

if "car" in "carpet":
    print("The substring was found.")
else:
    print("The substring was not found.")

In [ ]:
# Split a string into a list of strings:

split_on_dash = "1980-12-08".split("-")
print(split_on_dash)

In [ ]:
#Slice characters from a string by position:

last_five_chars = "This is a long string."[-5:]
print(last_five_chars)

In [ ]:
# Concatenate strings:

superman = "Clark" + " " + "Kent"
print(superman)

Concepts
--

When working with comma separated value (CSV) data in Python, it's common to have your data in a 'list of lists' format, where each item of the internal lists are strings.

If you have numeric data stored as strings, sometimes you will need to remove and replace certain characters before you can convert the strings to numeric types like int and float.

Strings in Python are made from the same underlying data type as lists, which means you can index and slice specific characters from strings like you can lists.

In [ ]:
# Insert a value intro a string:

world_cup_semifinal = "The final score was Croatia {}, England {}".format(2,1)
print(world_cup_semifinal)

In [ ]:
# Format specification for two decimal places:

two_decimal_places = "I own {:.2f}% of the company".format(32.5548651132)
print(two_decimal_places)

In [ ]:
# - Format specification for comma separator:

india_pop = "The approximate population of {} is {}".format("India",1324000000)
print(india_pop)

In [ ]:
# Format specification for padding and alignment:

left_aligned_padded_20_chars   = "| {:<20} |".format("MY_VALUE")
center_aligned_padded_20_chars = "| {:^20} |".format("MY_VALUE")
right_aligned_padded_20_chars  = "| {:>20} |".format("MY_VALUE")

print(left_aligned_padded_20_chars,center_aligned_padded_20_chars,right_aligned_padded_20_chars)

In [ ]:
# Format specification to derive padding width from a variable:
padding_width=20
left_aligned  = "| {:<{}} |".format("MY_VALUE", padding_width)
print(left_aligned)

In [ ]:
# Order for format specification:

balance_string = "Your bank balance is {:>20,.2f}".format(12345.678)
print(balance_string)

Concepts
--
The str.format() method allows you to insert values into strings without explicitly converting them.
The str.format() method also accepts optional format specifications which you can use to format values so they are more easily read.

Common format codes when working with datetime.datetime.strptime: 
Strftime Code	Meaning	Examples
%d	Day of the month as a zero-padded number1	04
%A	Day of the week as a word2	Monday
%m	Month as a zero-padded number1	09
%Y	Year as a four-digit number	1901
%y	Year as a two-digit number with zero-padding1, 3	01 (2001)
88 (1988)
%B	Month as a word2	September
%H	Hour in 24 hour time as zero-padded number1	05 (5am)
15 (3pm)
%p	AM or PM2	AM
%I	Hour in 12 hour time as zero-padded number1	05 (5am, or 5pm if AM/PM indicates otherwise)
%M	Minute as a zero-padded number1	07 1. The strptime parser will parse non-zero padded numbers without raising an error.
2. Date parts containing words will be interpreted using the locale settings on your computer, so strptime won't be able to parse 'febrero' (february in Spanish) if your locale is set to an english language locale.
3. Year values from 00-68 will be interpreted as 2000-2068, with values 70-99 interpreted as 1970-1999.

Operations between timedelta, datetime, date, and time objects: 
Operation	Explanation	Resultant Type
datetime - datetime	Calculate the time between two specific dates/times	timedelta
datetime - timedelta	Subtract a time period from a date or time.	datetime
datetime + timedelta	Add a time period to a date or time.	datetime
timedelta + timedelta	Add two periods of time together	timedelta
timedelta - timedelta	Calculate the difference between two time periods.	timedelta
timedelta / integer	Divide a time period by a number.	timedelta
timedelta * integer	Multiply a time period by a number.	timedelta
Epoch Time: 
Epoch Time	Date/Time in UTC	Notes
0	Midnight, January 1, 1970	
1	One second after midnight, January 1, 1970	
60	One minute after midnight, January 1, 1970	
3600	One hour after, January 1, 1970	There are 3,600 seconds in one hour
86400	Midnight, January 2, 1970	There are 86,400 seconds in 24 hours

In [ ]:
# IMPORTING MODULES AND DEFINITIONS
# Importing a whole module:

import csv
csv.reader()

In [ ]:
# Importing a whole module with an alias:

import csv as c
c.reader()

In [ ]:
# Importing a single definition:

from csv import reader
reader()

In [ ]:
# Importing multiple definitions:

from csv import reader, writer
reader()
writer()

In [ ]:
# Importing all definitions:

from csv import *

In [ ]:
# WORKING WITH THE DATETIME MODULE
# All examples below presume the following import code:

import datetime as dt

In [ ]:
# Creating datetime.datetime string given a month, year, and day:

eg_1 = dt.datetime(1985, 3, 13)

# Creating a datetime.datetime object from a string:

eg_2 = dt.datetime.strptime("24/12/1984", "%d/%m/%Y")

In [ ]:
# Converting a datetime.datetime object to a string:

dt_object = dt.datetime(1984, 12, 24)
dt_string = dt_object.strftime("%d/%m/%Y")

In [ ]:
# Instantiating a datetime.time object:

eg_3 = datetime.time(hour=0, minute=0, second=0, microsecond=0)

In [ ]:
# Retrieving a part of a date stored in the datetime.datetime object:

eg_1.day

In [ ]:
# Creating a date from a datetime.datetime object:

d2_dt = dt.datetime(1946, 9, 10)
d2 = d2_dt.date()

In [ ]:
# Creating a datetime.date object from a string:

d3_str = "17 February 1963"
d3_dt = dt.datetime.strptime(d3_str, "%d %B %Y")
d3 = d3_dt.date()

In [ ]:
# Instantiating a datetime.timedelta object:

eg_4 = dt.timedelta(weeks=3)

In [ ]:
# Adding a time period to a datetime.datetime object:

d1 = dt.date(1963, 2, 26)
d1_plus_1wk = d1 + dt.timedelta(weeks=1)

In [ ]:
# Convert integers to objects based on their epoch time value:

datetime.datetime.fromtimestamp(345521)

Concepts
--
The datetime module contains five classes:
datetime.datetime — For working with date and time data
datetime.date — For working with date data only
datetime.time — For working with time data only
datetime.timedelta — For representing time periods
datetime.timezone — For representing a specific time zone
Time objects behave similarly to datetime objects for the following reasons:
They have attributes like time.hour and time.second that you can use to access individual time components.
They have a time.strftime() method, which you can use to create a formatted string representation of the object.
The timedelta type represents a period of time, e.g. 30 minutes or two days.
Epoch time represents time as an integer, counting the number of seconds since midnight on January 1, 1970. Epoch time is the default on the majority of the world's servers, which makes it an important time format to know and understand.

In [ ]:
#Insert a value intro a string:

world_cup_semifinal = "The final score was Croatia {}, England {}".format(2,1)

In [ ]:
# Format specification for two decimal places:

two_decimal_places = "I own {:.2f}% of the company".format(32.5548651132)

In [ ]:
#Format specification for comma separator:

india_pop = "The approximate population of {} is {}".format("India",1324000000)

In [ ]:
#Format specification for padding and alignment:

left_aligned_padded_20_chars   = "| {:<20} |".format("MY_VALUE")
center_aligned_padded_20_chars = "| {:^20} |".format("MY_VALUE")
right_aligned_padded_20_chars  = "| {:>20} |".format("MY_VALUE")

In [ ]:
#Format specification to derive padding width from a variable:
padding_width=10
left_aligned  = "| {:<{}} |".format("MY_VALUE", padding_width)

In [ ]:
#Order for format specification:

balance_string = "Your bank balance is {:>20,.2f}".format(12345.678)

Concepts
--
The str.format() method allows you to insert values into strings without explicitly converting them.
The str.format() method also accepts optional format specifications which you can use to format values so they are more easily read.

In class practice
--
Create a game of "guess number"
1. Generate a random integer number in the range of 0 to 100 (random.randint(0,101))
2. Create a for loop with 10 iterations (only 10 chances to guess the number)
3. Show a string, sth like "We have got a new number. Can you guess?"
4. Every time, you input a number<br>
    a. first print it on the screen<br>
    b. give hint like "The guessed number {} is too big" or "... is too small" or "Bingo! {} is the answer!"<br>
    c. make sure you used the string formating knowledge above<br>
5. Enjoy! What's the best strategy to win?

In [ ]:
import random
random.randint(0,101)

NumPy
--
NumPy is the fundamental package for scientific computing with Python. It contains among other things:

a powerful N-dimensional array object <br>
sophisticated (broadcasting) functions <br>
tools for integrating C/C++ and Fortran code <br>
useful linear algebra, Fourier transform, and random number capabilities <br>
Besides its obvious scientific uses, NumPy can also be used as an efficient multi-dimensional container of generic data. Arbitrary data-types can be defined. This allows NumPy to seamlessly and speedily integrate with a wide variety of databases.

%%%%%% <br>
As we learn NumPy, we'll be analyzing urban tree data in Oakland (downloaded from Kaggle database). The first few lines of the original CSV file look like

OBJECTID,WELLWIDTH,WELLLENGTH,PAREAWIDTH<br>
1,4,4,0<br>
2,5,5,0<br>
3,3,3,0<br>
4,3,3,0<br>
5,4,9,0<br>
6,0,0,5<br>
7,2,3,0<br>
8,5,7,0<br>
9,4,4,0<br>

To start working with this CSV data in NumPy, we'll first need to start by importing the NumPy library into our Python environment. For this, we use a simple import statement:

In [ ]:
import csv
import numpy as np

We used the "as" syntax in our "import" statement. This allows us to access the NumPy library using another name. When working with NumPy, the convention is to import the library as "np" for brevity.

Next, we'll use Python's built-in csv module to import our CSV as a 'list of lists'.

The last step is to convert our list of lists into a NumPy n-dimensional array, or ndarray. We're going to explain ndarrays in more detail in the next screen, but for now you can think of it as NumPy's version of a list of lists format. To convert from the list type to ndarray, we use the numpy.array() constructor. Here's an example of how it works:

# our list of lists is stored as data_list
data_ndarray = np.array(data_list)
We used the syntax np.array() instead of numpy.array() because of our import numpy as np code. When we introduce a new syntax, we'll always use the full name to describe it, and you'll need to substitute in the shorthand as appropriate.

Let's convert our tree CSV into a NumPy ndarray!

In [ ]:
# import oakland-street-tree_clean_number.csv as a list of lists
f = open("../data_collection/oakland-street-trees/oakland-street-trees_clean_number.csv", "r")
tree_list = list(csv.reader(f))

# remove the header row and select
tree_list = tree_list[1:]

# alert: There are empty values. Can you find which line has it?
# here we fill the empty string with value 0

# convert all values to floats
converted_tree_list = []
for row in tree_list:
    converted_row = []
    for item in row:
        converted_row.append(float(item))
    converted_tree_list.append(converted_row)

# start writing your code below this comment

Instructions
--
Add a line of code using the numpy.array() constructor to convert the converted_tree_list variable to a NumPy ndarray. Assign the result to the variable name tree.

In [ ]:
tree=np.array(converted_tree_list)

As we mentioned earlier, ndarray stands for 'n-dimensional array'. In programming, array is a term that describes a collection of elements. Even if you haven't heard the term before, you have likely encountered arrays: a list object in Python could be described generically as an array. N-dimensional refers to the fact that ndarrays can have one or more dimensions.

Similar to using lists of lists, we use numbers to specify the location of elements of our data that we want to work with. Just like with lists, we call these numbers index values (or collectively, indices).

Unlike with Python lists, every value in an ndarray must be of the same types. For the tree data set this does not matter, as all the values are float values. We'll talk further about this restriction and how to handle it a later mission.

Let's take a look at the data in the tree variable from the previous screen by printing it using Python's print() function:

In [ ]:
print(tree)

In [ ]:
# If we wanted to see the how many rows and columns are in our ndarray, we can use the ndarray.shape attribute:
print(tree.shape)

The output of the ndarray.shape attribute gives us a few important pieces of information:

There are two numbers, which tells us that our ndarray is two-dimensional.
Note: the data type returned is called a tuple. Tuples are very similar to Python lists, but are immutable (can't be modified). Tuples are defined and displayed using parentheses () rather than brackets [].
The first number tells us that the first dimension is 4799 items long, or put another way that there are 4799 rows in our data set.
The second number tells us that the second dimension is 4 items long, or put another way that there are 4 columns in our data set.
If we just want to select a number of rows from an ndarray, we can use slicing, just like we would with a list of lists. Here's how we would print the first five rows:

In [ ]:
print(tree[:5])

Instructions
--

Throughout all of our Dataquest missions, variables we created in previous screens are available.

Select the first ten rows of the tree ndarray, and assign the result to a new variable tree_ten.
Use Python's print() function to display tree_ten.

In [ ]:
tree_ten=tree[:10]
print(tree_ten)

Just like we saw in the previous section, selections of rows ndarray's look like they behave very similarly to lists of lists. In reality, what we're seeing is a shortcut of sorts. For any two-dimensional array, the full syntax for selecting data is:

ndarray[row,column]

or if you want to select all columns for a given set of rows<br>
ndarray[row]

Where row defines the location along the row axis and column defines the location along the column axis. Both row and column can be one of the following:

An integer, indicating a specific location, eg ndarray[3,0].

A slice, indicating a range of locations, eg ndarray[0:5,6:].

A colon, indicating every location, eg ndarray[:,2].

A list of values, indicating specific locations, eg ndarray[[0,1,3,4],0].

A boolean array, indicating specific locations - we'll look at this method in detail later.

Or any combination of the above.

In short, numpy make python look more like MATLAB

Instructions
--
From the tree ndarray:

Select the row at index 0 and assign it to row_0.

Select every column for the rows at indexes 391 to 500 inclusive and assign them to rows_391_to_500.

Select the item at row index 21 and column index 5 and assign it to row_21_column_5

In [ ]:
row_0 = tree[0]

rows_391_to_500 = tree[391:501]

print(rows_391_to_500.shape)

row_21_column_5 = tree[21,3]

Challenge
--
From the tree ndarray:
Select every row for the columns at indexes 1, 4, and 7 and assign them to columns_1_4_7.

Select the columns at indexes 5 to 8 inclusive for the row at index 99 and assign them to row_99_columns_5_to_8.

Select the rows at indexes 100 to 200 inclusive for the column at index 14 and assign them to rows_100_to_200_column_14.

In [ ]:
columns

# Difference between list and ndarray

With data in a list of lists, we'd have to construct a for-loop and add each pair of values from each row individually. To refresh your memory, here's what our example code looked like:

In [ ]:
my_numbers = [
              [6, 5],
              [1, 3],
              [5, 6],
              [1, 4],
              [3, 7],
              [5, 8],
              [3, 5],
              [8, 4]
             ]

sums = []

for row in my_numbers:
    row_sum = row[0] + row[1]
    sums.append(row_sum)

At the time, we only talked about how vectorized operations make this faster, however it also makes our code to execute this much simpler. We'll break this down into three steps:

Convert our data to an ndarray,
Select each column,
Add the columns.
Let's look at what that looks like in code:

In [ ]:
# convert the list of lists to an ndarray
my_numbers = np.array(my_numbers)

# select each of the columns - the result
# of each will be a 1D ndarray
col1 = my_numbers[:,0]
col2 = my_numbers[:,1]

# add the two columns
sums = col1 + col2

In [ ]:
# We could simplify this further if we wanted to:

sums = my_numbers[:,0] + my_numbers[:,1]

Here are some key observations about this code:

When we selected each column, we used the syntax ndarray[:,c] where c is the column index we wanted to select. Like we saw in the previous screen, the colon acts as a wildcard and selects all rows.
To add the two 1D ndarrays, col1 and col2 (which sometimes would be called vectors in this context), we simply use the addition operator (+) between them.
The result of adding two 1D vectors is a 1D vector of the same shape (or dimensions) as the original.

What we just did, adding two columns (or vectors) together is called vector math. When we're performing vector math on two one-dimensional vectors, both vectors must have the same shape. We can use any of the standard Python numeric operators to perform vector math:

What we just did, adding two columns (or vectors) together is called vector math. When we're performing vector math on two one-dimensional vectors, both vectors must have the same shape. We can use any of the standard Python numeric operators to perform vector math:

vector_a + vector_b - Addition

vector_a - vector_b - Subtraction

vector_a * vector_b - Multiplication (this is unrelated to the vector multiplication used in linear algebra).

vector_a / vector_b - Division

vector_a % vector_b - Modulus (find the remainder when vector_a is divided by vector_b)

vector_a ** vector_b - Exponent (raise vector_a to the power of vector_b)

vector_a // vector_b - Floor Division (divide vector_a by vector_b, rounding down to the nearest integer)

Let's look at an example from our tree dataset. Here are the first five rows of two of the columns in the data set:

Instruction
--
Use vector multiplication to time wellwidth and welllength, assigning the result to wellarea.

We could use the built-in Python functions min() and max() to make these calculations, however these will perform calculations without taking advantage of vectorization. Instead, we can use NumPy's ndarray methods to calculate statistics.

To calculate the minimum value of an 1D ndarray, we use the vectorized ndarray.min() method, like so:

In [ ]:
wl = tree[:,2]
wl_min = wl.min()
print(wl_min)

Before we look at other array methods Let's take a moment to clarify the difference between methods and functions. Functions act as stand alone segments of code that usually take an input, perform some processing, and return some output. When we're working with Python lists, we can use the len() function to calculate the length of a list, but if we're working with Python strings, we can also use len(). In this case, it calculates the numbers of characters (or length) of the string.

In [ ]:
my_list = [21,14,91]
print(len(my_list))

In [ ]:
my_string = 'Dataquest'
print(len(my_string))

In contrast, methods are special functions that belong to a specific type of object. Python lists have a list.append() method that we can use to add an item to the end of a list. If we try to use that method on a string, we will get an error:

In [ ]:
my_list.append(21)
my_string.append(' is the best!')

When you're learning NumPy, this can get confusing, because sometimes there are operations that are implemented as both methods and functions, but sometimes there are not. Let's look at some examples:

Calculation	Function Representation	Method Representation

Calculate the minimum value of wellarea	np.min(wellarea)	v.s. wellarea.min()

Calculate the maximum value of wellarea	np.max(wellarea)	v.s. wellarea.max()

Calculate the mean average value of wellarea	np.mean(wellarea)	v.s. wellarea.mean()

Calculate the median average value of wellarea	np.median(wellarea)	v.s. There is no ndarray median method

To remember the right terminology, anything that starts with np (e.g. np.mean()) is a function and anything you express with an object (or variable) name first (eg wellarea.mean()) is a method. As we discussed in the previous screen, where both exist it's up to you which you use, but it's much more common to see the method approach, and that's the one we'll use moving forward.

Numpy ndarrays have methods for many different calculations. A few key methods are:

ndarray.min() to calculate the minimum value

ndarray.max() to calculate the maximum value

ndarray.mean() to calculate the mean average value

ndarray.sum() to calculate the sum of the values

You can see them a full list of ndarray methods in the NumPy ndarray documentation.

Let's use the methods we've just learned about to calculate the smallest, largest, and mean average speed from our wellarea ndarray.

Instructions
--

Use the ndarray.max() method to calculate the maximum value of wellarea and assign the result to area_max.

Use the ndarray.mean() method to calculate the average value of wellarea and assign the result to area_mean.

Instructions
--
Statistics to columns

Using a single method, calculate the mean value for each column of tree, and assign the result to tree_column_means.

To take a closer look at whether we are getting the correct values, we're going to do the following:

Add the wellarea as a column to our tree ndarray.

Sort tree by wellarea.

Look at the rows with the highest wellarea from our sorted ndarray to see what they tell us about these large values.

To start, let's learn how to add rows and columns to an ndarray. The technique we're going to use involves the numpy.concatenate() function. This function accepts:

A list of ndarrays as the first, unnamed parameter.

An integer for the axis parameter, where 0 will add rows and 1 will add columns.

The numpy.concatenate() function requires that each array have the same shape, excepting the dimension corresponding to axis. Let's look at an example to understand more precisely how that works. We have two arrays, ones and zeros:

print(ones)

[[ 1  1  1]
[ 1  1  1]]

print(zeros)

[ 0  0  0]

Let's try and use numpy.concatenate() to add zeros as a row. Because want to add a row, we use axis=0

combined = np.concatenate([ones,zeros],axis=0)

Traceback (most recent call last):<br>
   File "stdin", line 1, in module<br>
ValueError: all the input arrays must have same number of dimensions<br>

We've got an error because our dimensions don't match - let's look at the shape of each array to see if we can understand why:

print(ones.shape)<br>
(2, 3)<br>
print(zeros.shape)<br>
(3,)<br>
Because we're using axis=0, our shapes have to match across all dimensions except the first. If we look at these two array's we can see that the second dimension of ones is 3, but zeros doesn't have a second dimension, because it's only a 1D array. This is the source of our error. The table below shows the shapes we need to be able to combine these arrays.

Object	Current shape	Desired Shape<br>
ones	(2, 3)	(2, 3)<br>
zeros	(3,)	(1, 3)<br>
In order to adjust the shape of zeros, we can use the numpy.expand_dims() function. We'll start by passing axis=0 because we want to convert our 1D array into a 2D array representing a row:<br>

zeros_2d = np.expand_dims(zeros,axis=0)<br>
print(zeros_2d)<br>
[[ 0  0  0]]<br>
print(zeros_2d.shape)<br>
(1, 3)<br>
Finally, we can use numpy.concatenate() to combine the two arrays:<br>

combined = np.concatenate([ones,zeros_2d],axis=0)<br>
print(combined)<br>
[[ 1  1  1]<br>
[ 1  1  1]<br>
[ 0  0  0]]<br>
Adding a column is done the same way, except substituting axis=1 for axis=0 in both functions. The initial code for this screen shows this process.

Instructions
--

Expand the dimensions of wellarea to be a single column in a 2D ndarray, and assign the result to wellarea_2d.
Add wellarea_2d as a new column at the end of tree, assigning the result back to tree.

Use the print() function to display taxi and view the new column.

Sorting
--
Now that we've added our wellarea column to our array, our next step is to sort the array. For this, we'll use the numpy.argsort() function. The numpy.argsort() function returns the indices which would sort an array. Don't worry if that sounds a little unusual, we'll look at an example to help explain it.

We'll start by defining a simple 1D ndarray, where each item is a string containing the name of a fruit:

In [ ]:
fruit = np.array(['orange','banana','apple','grape','cherry'])

We've put the indices, or index numbers, next to each value in the array. We use the indices whenever we want to select an item, for instance fruit[2] would return the value 'apple' and fruit[1] would return the value 'banana'. As we learned earlier in the mission, if we selected using a list of values like fruit[[2,1]], we would get back an ndarray of those values in the order: ['apple','banana'].

Next, we'll use numpy.argsort() to return the indices that would sort the array:

In [ ]:
sorted_order = np.argsort(fruit)
print(sorted_order)

If we look at these indices carefully, we can see what has happened. The first value of sorted_order is 2: The value at index 2 of fruit is 'apple', the first item if we sort in alphabetical order. The second value is 1: The value and index 1 of fruit is 'banana', the second item if we sort in alphabetical order, and so on.

If we use the array of sorted indices to select items from fruit, here is what we get:

In [ ]:
sorted_fruit = fruit[sorted_order]
print(sorted_fruit)

In the code above, the values from sorted_order get inserted between the brackets. The code is the equivalent of:

sorted_fruit = fruit[[2, 1, 4, 3, 0]]
As you can see, the result is that our original array has been sorted in alphabetical order.

Let's look at an example with a 2D ndarray. We'll be sorting a 5x5 ndarray called int_square by its last column:

In [ ]:
int_square=np.array([[5,2,8,3,4],
[2,8,6,2,5],
[1,6,2,7,7],
[0,7,7,4,5],
[5,7,1,1,2]])
print(int_square)

In [ ]:
#We'll start by selecting just the last column.

last_column = int_square[:,4]
print(last_column)

In [ ]:
# Then, we use numpy.argsort() to get the indices that would sort the last column and assign them to sorted_order.

sorted_order = np.argsort(last_column)
print(sorted_order)

In [ ]:
# As a test, let's use sorted_order to sort just the last column:

last_column_sorted = last_column[sorted_order]
print(last_column_sorted)

In [ ]:
#Finally, we can pass sorted_order to sort to the full ndarray:

int_square_sorted = int_square[sorted_order]
print(int_square_sorted)

We can use the same technique to sort our tree ndarray by the wellarea column. NumPy only supports sorting in ascending order, however that is not a problem - we'll just look at the last few rows instead of the first few rows to examine the data we need.

Instructions
--
Use numpy.argsort() to get the indices which would sort the wellarea column from the tree ndarray. The wellarea is at column index ??.

Use the indices from the previous instruction to sort the tree ndarray, and assign the result to tree_sorted.

Use the print() function to examine the tree_sorted ndarray.

There is no discernible pattern to the date or time of the trips with unrealistic average speeds. We can see that most of them are very short rides - all have trip_length values of 4 or less seconds, which does not reconcile with the trip distances, all of which are more than 16 miles.

All of these rows have the same pickup_location_code and dropoff_location_code. This might suggest that the machines that record the data may use the last known GPS signal if they can't find the location, and if a driver starts and finishes a fare quickly, the machine will calculate an accurate time with inaccurate location data.

In any case, it's safe to say that the data in these rows is bad, and needs to be removed before any further analysis is performed. We'll look at how to do this in the next mission.

In this mission we learned:

How vectorization makes our code faster.

About n-dimensional arrays, and NumPy's ndarrays.

How to select specific items, rows, columns, 1D slices, and 2D slices from ndarrays.

How to use vector math to apply simple calculations to entire ndarrays.

How to use vectorized methods to perform calculations across either axis of ndarrays.

How to add extra columns and rows to ndarrays.

How to sort an ndarray.